<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- boxicon css -->
    <link rel= "stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">  
</head>
<body>
    <div class="everything">
    <div id = "sidenav">
        <sidenav></sidenav>
    </div>

    </div>
    <!-- vuejs -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- sidenav.js -->
    <script src="sidenav.js"></script>
</body>
</html>
